@model  Organizer_.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Ввійти";
}
 
<hr>
<h2 class="intro-text text-center">
    <strong>Ввійти</strong>
</h2>
<hr>
@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма для входу</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ввійти" class="btn btn-default" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Реєстрація", "Register") якщо ви ще немаєте акаунта.
        </p>
    </fieldset>
}