@using PagedList
@using PagedList.Mvc
@model IEnumerable<Organizer_Domain.EntityModel.Notice>

@{
    ViewBag.Title = "Нотатки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-default" href="@Url.Action("CreateNotice", "Notice")">Додати</a>

    <a class="btn btn-default" href="@Url.Action("Index", "Tag")">Додати теги</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>
                @Html.DisplayFor(modelItem => item.Body)
            </p>
            <p>
                <a class="btn btn-default" href="@Url.Action("UpdateNotice", "Notice", new { id = item.NoticeId })">Змінити</a>
                <a class="btn btn-default" href="@Url.Action("DeleteNotice", "Notice", new { id = item.NoticeId })">Видалити</a>
            </p>
        </div>
    }

</div> 
<div class="pagedList">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
</div>